* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2fdfb;
}

.navbar {
    background: white;
    display: flex;
    align-items: center;
    padding: 14px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
}

.logo {
    font-weight: bold;
    color: #00a8a8;
    font-size: 20px;
}

.navbar nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}

.navbar nav a.active {
    color: #00a8a8;
    font-weight: bold;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout {
    color: red;
    text-decoration: none;
}


.chat-container {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 20px;
    background: linear-gradient(90deg, #00c9a7, #007bff);
    color: white;
    border-radius: 15px 15px 0 0;
}

.chat-messages {
    padding: 20px;
    height: 350px;
    overflow-y: auto;
}

.message {
    max-width: 60%;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.message.bot {
    background: #f1f1f1;
    align-self: flex-start;
}

.time {
    font-size: 12px;
    color: #777;
    display: block;
    margin-top: 5px;
}


.chat-input {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.chat-input button {
    margin-left: 10px;
    background: #00c9a7;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.chat-note {
    font-size: 12px;
    color: #666;
    padding: 10px 20px 20px;
}
